<!DOCTYPE html>
{% load static %}
<html lang=en>

<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name=description content="Square - Premium Bootstrap Theme">
    <meta name=keywords
        content="bootstrap, theme, template, multipurpose, landing, html5, css3, javascript, event, case study, photography, about, team, portfolio, services, contact, pricing, faqs, careers, blog, sign in, sign up, coming soon, legal">
    <meta name=author content="Webinning Ltd.">
    <title>Trifuno Inc.</title>
    <link rel=apple-touch-icon sizes=180x180 href="{% static 'assets/images/icons/favicons/apple-touch-icon.png' %}">
    <link rel=icon type=image/png sizes=32x32 href="{% static 'assets/images/icons/favicons/favicon-32x32.png' %}">
    <link rel=icon type=image/png sizes=16x16 href="{% static 'assets/images/icons/favicons/favicon-16x16.png' %}">
    <link rel=manifest href="{% static 'assets/images/icons/favicons/site.webmanifest' %}"">
    <link rel=mask-icon href=" {% static 'assets/images/icons/favicons/safari-pinned-tab.svg' %}" color=#232323>
    <meta name=msapplication-TileColor content=#ffffff>
    <meta name=theme-color content=#ffffff>
    <link href="{% static 'assets/css/theme.min.css' %}" rel=stylesheet>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-174248960-1"></script>
    <script>window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'UA-174248960-1');</script>
</head>

<body>
    <header class="navbar navbar-expand-lg align-items-center w-100 position-absolute z-index-10 navbar-dark">
        <div class="position-relative container-fluid"><a href=#content class="skip-to-main sr-only-focusable"
                role=button>Skip to main content</a><a class="navbar-brand mr-auto" href="{% url 'index' %}"
                aria-label="Click to go back to Homepage">
                <img src="{% static 'images/logo.png' %}" alt="Logo-Image" width="45%" />
            </a><button class="navbar-toggler ml-auto" type=button data-toggle=collapse data-target=#navbarCollapse
                aria-expanded=false aria-label="Toggle navigation"><span class=navbar-toggler-icon></span></button>
            <div class="collapse navbar-collapse" id=navbarCollapse>
                <ul class="navbar-nav ml-auto">
                    <li class=nav-item><a class="nav-link active" href="{% url 'index' %}">Home</a></li>

                    <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="{% url 'about' %}"
                            id=navbarDemos role=button>About</a>
                    </li>
                    <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="{% url 'contact' %}"
                            id=navbarPages role=button>Contact</a>
                    </li>
                </ul><a class="btn btn-sm btn-secondary text-uppercase mt-3 mt-lg-0 ml-lg-4 d-block d-lg-inline-block"
                    href="{% url 'brand' %}" rel=noopener>Brands</a>
            </div>
        </div>
    </header>
    <main>
        <section class="bg-primary pt-11 mb-6 pt-lg-12 mb-lg-7 text-white bg-layer-white-bottom-20-left-100">
            <div class="container position-relative">
                <div class=row>
                    <div class=col>
                        <h1 class=display-4>About Us</h1>
                        <div class="img-shifted shift-left py-12 py-lg-15" data-aos=fade-right>
                            <div class="bg-image bg-cover bg-position-bottom-center"
                                style="background-image: url(staticfiles/images/toronto.jpg);" data-jarallax
                                data-speed=.8></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="py-6 py-lg-7" id=content>
            <div class=container>
                <div class=row>
                    <div class="col-md-7 col-lg-8" data-aos=fade-right style="text-align: justify;">
                        <p class="lead mb-4 mb-md-0"><strong>Zlatko and Zoran Trifunovski</strong>
                            have been working in the grocery retail business for over 40 years combined. Experiences
                            include, Buying for a major North American retailer, Category Management and National Key
                            Account Management for global tier one consumer packaged goods companies. They are both very
                            well versed in all aspects of the grocery retail industry.
                            Having built a solid reputation around the foundation of integrity and respect, Zlatko and
                            Zoran’s passion for people and commitment to sales growth has been continuously proven in
                            the results of the businesses they have managed over the years.
                            Understanding the needs and trends of Canada’s very dynamic grocery retailers, they have
                            identified a need for a more focused and professional account management service that goes
                            beyond the initial product listing.</p>
                    </div>
                    <div class="col-md-5 col-lg-4" data-aos=fade-left style="text-align: justify;">
                        <p class="lead mb-0">Having this well rounded backgroud in the grocery retail industry, Trifuno
                            Sales Inc. and Trifuno Retail Solutions Inc. were founded to combine the value of strong
                            relationships with fact based sales and professional account management.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-primary py-6 mt-6 mb-7 py-lg-7 mt-lg-7 mb-lg-8 text-white">
            <div class=container>
                <div class=row>
                    <div class="col-md mb-6 mb-md-0" data-aos=fade-up data-aos-delay=50><svg
                            xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                            class="bi bi-person-square" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                            <path
                                d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12z" />
                        </svg>
                        <h2 class="h5 mb-2 mt-4">Zlatko Trifunovski</h2>
                        <p class="font-size-5 mb-0">Get to know more about Zlatko visit his Linked In profile or drop
                            him an email.</p>
                        <p>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                class="bi bi-linkedin" viewBox="0 0 16 16">
                                <path
                                    d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z" />
                            </svg>
                            <a href="https://www.linkedin.com/in/zlatko-trifunovski-68824a17/?originalSubdomain=ca"
                                target="_blank">Click Here for
                                LinkedIn</a><br>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                class="bi bi-envelope-fill" viewBox="0 0 16 16">
                                <path
                                    d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z" />
                            </svg> <span style="color: #c42446;">zlatko@trifunosales.com</span>
                        </p>
                    </div>
                    <div class="col-md mb-0" data-aos=fade-up data-aos-delay=100><svg xmlns="http://www.w3.org/2000/svg"
                            width="40" height="40" fill="currentColor" class="bi bi-person-square" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                            <path
                                d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12z" />
                        </svg>
                        <h2 class="h5 mb-2 mt-4">Zoran Trifunovski</h2>
                        <p class="font-size-5 mb-0">Get to know more about Zlatko visit his Linked In profile or drop
                            him an email.</p>
                        <p>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                class="bi bi-linkedin" viewBox="0 0 16 16">
                                <path
                                    d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z" />
                            </svg>
                            <a href="https://www.linkedin.com/in/zoranlovescanada/" target="_blank">Click Here for
                                LinkedIn</a><br>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                class="bi bi-envelope-fill" viewBox="0 0 16 16">
                                <path
                                    d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z" />
                            </svg> <span style="color: #c42446;">zoran@trifunosales.com</span>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="py-6 my-6 py-lg-7 my-lg-7 bg-light">
            <div class="container-fluid px-0">
                <div class="row no-gutters">
                    <div class=col-lg-6>
                        <div class="bg-image bg-cover"
                            style="background-image: url(staticfiles/images/about_office.jpg);" data-jarallax
                            data-speed=.9></div>
                    </div>
                    <div class="col-lg-5 p-5 p-lg-7 align-items-center">
                        <h2>Who is Trifuno <span class=font-weight-lighter data-typed
                                data-options='{"strings": ["design.", "quality.", "inspiration."]}'></span></h2>
                        <div class="mt-6 mb-5">
                            <div class=d-flex data-aos=fade-left>
                                <div class="d-flex align-items-start mt-1"><svg class=fill-secondary width=16 height=16
                                        xmlns=http://www.w3.org/2000/svg viewBox="0 0 24 24">
                                        <title>check</title>
                                        <path
                                            d=M23.146,5.4,20.354,2.6a.5.5,0,0,0-.708,0L7.854,14.4a.5.5,0,0,1-.708,0L4.354,11.6a.5.5,0,0,0-.708,0L.854,14.4a.5.5,0,0,0,0,.707L7.146,21.4a.5.5,0,0,0,.708,0L23.146,6.1A.5.5,0,0,0,23.146,5.4Z>
                                        </path>
                                    </svg></div>
                                <div class=ml-2>
                                    <h3 class="h5 mb-1">Our Company Mission</h3>
                                    <p class="font-size-5 mb-3">Trifuno Sales Inc. is focused on providing professional
                                        sales and account management in major North American grocery retailers. Offering
                                        a wide range of services, we are guaranteed to exceed your expectations.</p>
                                </div>
                            </div>
                            <div class=d-flex data-aos=fade-left data-aos-delay=100>
                                <div class="d-flex align-items-start mt-1"><svg class=fill-secondary width=16 height=16
                                        xmlns=http://www.w3.org/2000/svg viewBox="0 0 24 24">
                                        <title>check</title>
                                        <path
                                            d=M23.146,5.4,20.354,2.6a.5.5,0,0,0-.708,0L7.854,14.4a.5.5,0,0,1-.708,0L4.354,11.6a.5.5,0,0,0-.708,0L.854,14.4a.5.5,0,0,0,0,.707L7.146,21.4a.5.5,0,0,0,.708,0L23.146,6.1A.5.5,0,0,0,23.146,5.4Z>
                                        </path>
                                    </svg></div>
                                <div class=ml-2>
                                    <h3 class="h5 mb-1">The Trifuno Philosophy</h3>
                                    <p class="font-size-5 mb-3">Aligning strategies to ultimately provide the consumer
                                        with the highest quality products at the best possible value.</p>
                                </div>
                            </div>
                            <div class=d-flex data-aos=fade-left data-aos-delay=200>
                                <div class="d-flex align-items-start mt-1"><svg class=fill-secondary width=16 height=16
                                        xmlns=http://www.w3.org/2000/svg viewBox="0 0 24 24">
                                        <title>check</title>
                                        <path
                                            d=M23.146,5.4,20.354,2.6a.5.5,0,0,0-.708,0L7.854,14.4a.5.5,0,0,1-.708,0L4.354,11.6a.5.5,0,0,0-.708,0L.854,14.4a.5.5,0,0,0,0,.707L7.146,21.4a.5.5,0,0,0,.708,0L23.146,6.1A.5.5,0,0,0,23.146,5.4Z>
                                        </path>
                                    </svg></div>
                                <div class=ml-2>
                                    <h3 class="h5 mb-1">The Trifuno Promise</h3>
                                    <p class="font-size-5 mb-3">At Trifuno Sales Inc. we are committed to growing your
                                        business profitably and professionally. Contact us for more information.</p>
                                </div>
                            </div>
                            <div class=d-flex data-aos=fade-left data-aos-delay=300>
                                <div class="d-flex align-items-start mt-1"><svg class=fill-secondary width=16 height=16
                                        xmlns=http://www.w3.org/2000/svg viewBox="0 0 24 24">
                                        <title>check</title>
                                        <path
                                            d=M23.146,5.4,20.354,2.6a.5.5,0,0,0-.708,0L7.854,14.4a.5.5,0,0,1-.708,0L4.354,11.6a.5.5,0,0,0-.708,0L.854,14.4a.5.5,0,0,0,0,.707L7.146,21.4a.5.5,0,0,0,.708,0L23.146,6.1A.5.5,0,0,0,23.146,5.4Z>
                                        </path>
                                    </svg></div>
                                <div class=ml-2>
                                    <h3 class="h5 mb-1">Our Services</h3>
                                    <p class="font-size-5 mb-3">Aligning your company strategy with that of the
                                        retailer,
                                        Vendor set up,
                                        New product development,
                                        Joint business planning,
                                        Internal/external business reviews,
                                        Inventory management,
                                        Product assortment optimization,
                                        Placement strategies,
                                        Point of purchase strategy support,
                                        Competitive pricing analysis in retail environments,
                                        Strategic promotional planning calendars,
                                        Promotional sell through analysis,
                                        Return on investment analysis,
                                        Retail link, Tool Box, and IRI database management,
                                        AC Neilson analysis</p>
                                </div>
                            </div>
                        </div><a href="{% url 'contact' %}"
                            class="btn btn-secondary text-uppercase d-block d-lg-inline-flex align-items-center">Contact
                            Us<svg width=16 height=16 class=ml-2 xmlns=http://www.w3.org/2000/svg viewBox="0 0 24 24">
                                <title>arrow-right-1</title>
                                <path
                                    d=M19.5,12a2.3,2.3,0,0,1-.78,1.729L7.568,23.54a1.847,1.847,0,0,1-2.439-2.773l9.752-8.579a.25.25,0,0,0,0-.376L5.129,3.233A1.847,1.847,0,0,1,7.568.46l11.148,9.808A2.31,2.31,0,0,1,19.5,12Z />
                            </svg></a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="bg-primary text-white small">
        <div class="pt-6">
            <div class=container>
                <div class="row justify-content-md-between">
                    <div class="col-md-5 col-lg-4 d-flex flex-column justify-content-between">
                        <img src="{% static 'images/logo.png' %}" alt="logo" height="25%" />
                    </div>
                    <div class="col-md-7 col-lg-6 mt-5 mt-md-0">
                        <div class=row>
                            <div class="col-6 col-md-4 mb-md-0">
                                <h3 class="h6 text-uppercase mb-3">Company</h3>
                                <ul class=list-unstyled>
                                    <li class=mb-1><a href="{% url 'about' %}" class=text-reset>About Us</a></li>
                                    <li class=mb-1><a href="{% url 'contact' %}" class=text-reset>Contact Us</a></li>
                                    <li class=mb-1><a href="{% url 'brand' %}" class=text-reset>Brands</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-top border-gray py-3">
            <div class=container>
                <div class="row justify-content-between small">
                    
                    <div class=col-auto><span>&copy; Trifuno inc, {% now "Y" %}</span></div>
                </div>
            </div>
        </div>
    </footer>
    <script src="{% static 'assets/js/theme.core.min.js' %}"></script>
    <script src="{% static 'assets/js/theme.min.js' %}"></script>
</body>
</html>